.video-container {
  position: relative;

  height: 100vh; /* Full screen */
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover; /* Cover the screen */
  z-index: -1;
}

.video-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.video-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.video-content p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.video-content button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background: #ff6600;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}
